body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.task {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(37, 41, 63);
    box-shadow: 0 0 10px black;
    color: white;
    backdrop-filter: blur(4px);
    height: 45px;
    padding: 5px;
    min-width: 100%;
    font-family: "Playwrite CU";
    font-size: 20px;
    
}
.task button {
    height: 50px;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.task button:hover {
    box-shadow: 0 0 3px black;
    border-radius: 0px;
    text-decoration: underline;
}
.content img {
    max-width: 100%;
}
.content h1 {
    font-family: "Playwrite CU";
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    text-decoration: underline;
    display: inline-block;
}
.available-pictures {
    display: flex;
    background-color: rgba(206, 206, 206, 0.158);
    backdrop-filter: blur(4px);
    border-radius: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px white;
    max-width: 100%;
    height: max-content;
    overflow-x: auto;
    overflow-y: auto;
}
.available-pictures a {
    backdrop-filter: blur(10px);
    display: block;
}
.available-pictures img {
    display: flex;
    width: 100px;
    padding: 0px;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.1s;
    backdrop-filter: blur(10px);
    margin: 10px;
    cursor: pointer;
    border: 2px inset transparent;
    box-shadow: 0 0 20px rgb(126, 126, 126);
}
.available-pictures img:hover {
    background-color: rgba(0, 0, 0, 0.705);
    transform: scale(1.2);
    border-radius: 3px;
    border: 2px double rgb(255, 255, 255);
}
.available-pictures img:active {
    background-color: rgba(0, 0, 0);
}
.fullframe img{
    display: none;
    min-height: 100vh;
    max-width: 100%;
}
#load-more, #load-less {
    display: block;
    cursor: pointer;
    border-radius: 0px;   
    margin: 0px;
    width: 100%;
    background-color: rgb(54, 60, 92);
    color: white;
    font-family: arial;
    text-align: center;
    justify-content: center;
    transition: 0.2s;
}
#load-more:hover, #load-less:hover {
    background-color: rgb(139, 153, 236);
}
#load-more:hover {
    color: greenyellow;
}
.lighter {
    background-color: rgb(37, 41, 63);
    padding: 0px;
    border-radius: 5px;
    width: 100%;
    margin-left: 0px;
    bottom: 5px;
    right: 5px;
    box-shadow: 0 0 10px black;
    justify-content: center;
    text-align: center;
}
@media(max-width: 800px) {
    .available-pictures {
        width: 100%;
        margin: 0;
        padding: 0;
        display: table;
    }
    .available-pictures img {
        width: 100%;
        margin: 0;
        border: 0px inset transparent;
        box-shadow: 0 0 0px rgb(126, 126, 126);
    }
    .available-pictures img:hover {
        border: opx inset transparent;
    }
    .lighter {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #load-more, #load-less {
        width: 100%;
        margin: 0;
    }
    .flex {
        display: block;
    }
    
}
    .socialmedia {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.616);
        justify-content: center;
        text-align: center;
    }
    .accounts {
        display: flex;
        justify-content: center;
        -ms-flex-align: center;
        margin-top: 20px;
    }
    .accounts button {
        margin: 5px;
        padding: 3px;
        width: 150px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
    }
    .accounts button:hover {
        background-color: black;
        color: white;
    }
    .accounts img {
        height: 30px;
    }
    .block {
        display: block;
    }
    .flex {
        display: block;
    }
    summary {
        margin: 10px;
        padding: 5px;
        background-color:rgba(240, 240, 240, 0);
        border-radius: 10px;
        border: 3px double black;
        font-family: "Playwrite CU";
    }
    summary:hover {
        box-shadow: 0 0 10px rgb(82, 82, 82);
        background-color: white;
    }
    .summary button {
        border: none;
        margin: 3px;
        float: right;
        font-family: "Playwrite CU";
        background-color: transparent;
        font-weight: 900;
        color: black;
        text-shadow: 0 0 20px rgb(51, 255, 0);
    }
    .summary button:hover {
        text-decoration: underline;
    }
    .summary i {
        font-size: 8px;
    }